################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CleanArchCQRSandMediator/FileContentIndex
/.vs/CleanArchCQRSandMediator/CopilotIndices/17.14.1347.20289
/.vs/CleanArchCQRSandMediator

# Build output
**/bin/
**/obj/